* {
  margin: 0;
  padding: 0; }

.imglogo {
  height: 70px;
  width: auto;
  border-radius: 40px; }

nav li {
  font-size: 1.75rem;
  margin-left: 2rem; }

body {
  background-color: #8B8B8B; }

.min-vh-600, .image:after {
  min-height: 600px; }

.vh-middle {
  position: relative;
  top: 33%; }

.bg-red {
  background-color: #C1414F; }

.ptb-40 {
  padding: 40px 0;
  line-height: 4.5rem; }

.h-300 {
  height: 358px; }

.h-100x {
  height: 100px; }

.margin-12 {
  margin: 12px 0px; }

#titletype {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  border-left: solid 1px rgba(255, 255, 255, 0.1);
  padding-left: 1.75rem; }

h2 {
  font-family: 'Kdam Thmor Pro', sans-serif;
  letter-spacing: 0.15rem; }

p {
  font-family: 'Dongle', sans-serif; }

.gctxt {
  padding-top: 6rem; }

.bordergc {
  border-left: dashed 2px #FFFFFF99; }

.f2r {
  font-size: 2rem;
  text-align: justify;
  padding: 0 2.5rem; }

.lhr {
  font-family: 'Bowlby One SC', cursive;
  font-size: 3rem;
  text-align: center;
  text-shadow: 0 4px 8px #555;
  border-bottom: 1px solid rgba(235, 235, 235, 0.171);
  border-top: 1px solid rgba(235, 235, 235, 0.171); }

#gcimg {
  width: 540px;
  height: 358px; }

.price-border {
  border-right: solid 1px #ac000070;
  border-left: solid 1px #ac000050; }

.image {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  background-color: #555; }
  .image img {
    transition: 500ms;
    width: 100%; }
  .image:hover:after {
    transform: translate(-50%, -50%); }
  .image:hover img {
    transform: scale(1.4); }
  .image:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 40%;
    width: 600px;
    height: 600px;
    transform: translate(-140%, -50%);
    background-color: rgba(180, 180, 180, 0.342);
    opacity: 0.8;
    border-radius: 50%;
    transition: 300ms; }

@media screen and (max-width: 768px) {
  .vh-middle {
    position: unset; }
  .vh-middle h2 {
    padding-top: 20px; }
  .image:after {
    left: 30%;
    width: 1000px;
    height: 1000px; }
  .p-0 {
    padding: 0; }
  .fa-solid {
    margin-top: 16px; } }
